@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.no-uppercase) input[type='text'],
body:not(.no-uppercase) input[type='search'],
body:not(.no-uppercase) input[type='email'],
body:not(.no-uppercase) input[type='tel'],
body:not(.no-uppercase) input[type='url'],
body:not(.no-uppercase) textarea {
    text-transform: uppercase;
}
